/* Nordin Bouchrit */
/* 11050608 */

/* style for the whole page */
body {
	font-family: 'Comfortaa', cursive; 
	background-color: #ededed;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

/* header style */
.stock-market-nav {
	background-color: #212121 !important;
	box-shadow: 0 4px 2px -2px gray;
}

.stock-market-nav a {
	color: #FAFAFA !important;
}

.dropdown-menu a {
	color: #212121 !important;
}

/* content style */

/* network style */
.network-container {
	max-width: 1500px;
	width: 100%;
	background-color: #fff !important;
}

.network-div {
	margin-top: 30px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


/* Chart style */
.support-graphs-container {
	max-width: 1500px;
	width: 100%;
	background-color: #fff !important;	
}

.graph-title {
	margin-top:50px;
	font-size: 22px;
	font-weight: bold;
}

.price-chart-div {
	margin-top: 30px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.label {
	font-size: 11px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

/* footer style */
.footer-container {
	background-color: #E0E0E0;
	height: 50px;
}

.footer-content {
	padding-top: 15px;
}





