/* Nordin Bouchrit */
/* 11050608 */

/* style for the whole page */
body {
	font-family: 'Comfortaa', cursive; 
	background-color: #fff;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

hr { 
	border: 0; 
	border-bottom: 1px 
	dashed #ccc; 
	background: #fff; 
	background-color: #fff !important;
}

/* header style */
.stock-market-nav {
	background-color: #212121 !important;
	box-shadow: 0 4px 2px -2px gray;
}

.stock-market-nav a {
	color: #FAFAFA !important;
}

.dropdown-menu a {
	color: #212121 !important;
}

/* about style */

#about-div {
	max-width: 1500px;
	width: 100%;
	background-color: #fff !important;
	padding-top: 20px;	
}

#about-header {
	font-weight: bold;
}

#about-paragraph {
	line-height: 2;
}

#about-content {
	padding-top: 5px;
	margin-bottom: 10px;
}

#close-button {
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

#finance-legend {
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
}

#materials-legend {
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
}

#tech-legend {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}


#goods-legend {
	-webkit-transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
}


/* slider style */

#slider-container {
	margin-top: 10px;
	margin-bottom: -20px;
}


/* network style */
.network-container {
	max-width: 100%;
	width: 100%;
	background-color: #fff !important;
	padding-top: 30px;
}

#correlation-network {
	max-width: 100%;
	width: 100%;
}

.tooltip {
	position: absolute;
	font-size: 13px;
	color: #000;
	width: auto;
	height: auto;
	pointer-events: none;
	background-color: #ededed;
	border: 1px solid;
	padding: 8px 20px; 
  	border-radius: 10px;
}


.links line {
  stroke-opacity: 0.3;
}

.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

/* Matrix style */

.matrix-title {
	color: #000;
	font-size: 20px;
}


.chart-title {
	color: #000;
	font-size: 25px;
}

/* Chart style */
.support-graphs-container {
	max-width: 1500px;
	width: 100%;
	background-color: #fff !important;
	margin-top: 40px;	
}

#placeholder-linegraph {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}


.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.y-ax-title {
	font-size: 12px;
	font-weight: 0.2;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}


.label {
	font-size: 11px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

/* footer style */
.footer-container {
	background-color: #E0E0E0;
	height: 50px;
}

.footer-content {
	padding-top: 15px;
}






