/* Nordin Bouchrit */
/* 11050608 */

/* style for the whole page */
body {
	font-family: 'Comfortaa', cursive; 
	background-color: #fff;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

hr { 
	border: 0; 
	border-bottom: 1px 
	dashed #ccc; 
	background: #fff; 
	background-color: #fff !important;
}

/* header style */
.stock-market-nav {
	background-color: #212121 !important;
	box-shadow: 0 4px 2px -2px gray;
}

.stock-market-nav a {
	color: #FAFAFA !important;
}

.dropdown-menu a {
	color: #212121 !important;
}


/* network style */
.network-container {
	max-width: 100%;
	width: 100%;
	background-color: #fff !important;
	padding-top: 30px;
}

#correlation-network {
	max-width: 100%;
	width: 100%;
}


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* Matrix style */

.matrix-title {
	color: #000;
	font-size: 20px;
}

/* Chart style */
.support-graphs-container {
	max-width: 1500px;
	width: 100%;
	background-color: #fff !important;	
	margin-top: 60px;
}

.graph-title {
	margin-top:50px;
	font-size: 22px;
	font-weight: bold;
}

.price-chart-div {
	margin-top: 30px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.y-ax-title {
	font-size: 12px;
	font-weight: 0.2;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.label {
	font-size: 11px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

/* footer style */
.footer-container {
	background-color: #E0E0E0;
	height: 50px;
}

.footer-content {
	padding-top: 15px;
}





